In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
from calc import (
    generate_coproduct_lci,
    read_data,
    calc,
    generate_final_lci,
    generate_coproduct_lci,
    data_check,
    calculate_allocation_ratio,
    allocation
)
from utils import display_units, format_input, energy, calculate_lca, emission_factor, primary_units, unit_conversion, metrics, mass_to_energy

In [5]:
tab = "GHG"
# lci_mapping, coproduct_mapping, final_process_mapping = read_data("2021 Biochem SOT via BDO_working.xlsm")
lci_mapping, coproduct_mapping, final_process_mapping = read_data("test.xlsm")

overall_lci = generate_final_lci(lci_mapping, coproduct_mapping, final_process_mapping)
# res_new = calc(overall_lci)
# coproduct_lci = generate_coproduct_lci(
#     lci_mapping, coproduct_mapping, final_process_mapping
# )
# if coproduct_lci is not None:
#     coproduct_res = calc(coproduct_lci)
    
# main_product_total = res_new[tab + "_Sum"].sum()
# # coproduct_total = coproduct_res[tab + "_Sum"].sum()

overall_lci

,Type,Category,Resource,End Use,Amount,Unit,Moisture,Previous Process,Always Use Displacement Method for Co-Product?,Product Train,Incumbent Resource,Incumbent End Use,Note,Process,LHV,Density
0,Input,Fuel,diesel,industrial boiler,0.5,mmBTU,0.0,NaN,No,Both,,,NaN,Fuel Production,42.626181,846.935775
1,Input,Chemicals and catalysts,ammonia,,0.5,kg,0.0,NaN,No,Both,,,NaN,Fuel Production,NaN,NaN
2,Input,Electricity,electricity,u.s. mix,0.4,mmBTU,0.0,NaN,No,Both,,,NaN,Test,NaN,NaN
3,Main Product,Fuel,renewable diesel,light duty vehicle,1.0,mmBTU,0.0,NaN,No,Both,diesel,industrial boiler,NaN,Fuel Production,43.400834,793.378565

In [6]:
calc(overall_lci)[['Resource', 'Input Amount', 'Amount', 'Unit', 'Primary Unit', 'Pathway']]

,Resource,Input Amount,Amount,Unit,Primary Unit,Pathway
0,Diesel,0.5,0.5,mmBTU,mmBTU,renewable diesel (Modeled)
1,Ammonia,0.5,500.0,g,g,renewable diesel (Modeled)
2,Electricity,0.4,0.4,mmBTU,mmBTU,renewable diesel (Modeled)
3,Renewable Diesel,1.0,1.0,mmBTU,mmBTU,renewable diesel (Modeled)
0,Diesel,1.0,1.0,mmBTU,mmBTU,diesel (Incumbent)

In [5]:
tab = "GHG"
# lci_mapping, coproduct_mapping, final_process_mapping = read_data("2021 Biochem SOT via BDO_working.xlsm")
lci_mapping, coproduct_mapping, final_process_mapping = read_data("test_t.xlsm")

overall_lci2 = generate_final_lci(lci_mapping, coproduct_mapping, final_process_mapping)
# res_new = calc(overall_lci)
# coproduct_lci = generate_coproduct_lci(
#     lci_mapping, coproduct_mapping, final_process_mapping
# )
# if coproduct_lci is not None:
#     coproduct_res = calc(coproduct_lci)
    
# main_product_total = res_new[tab + "_Sum"].sum()
# # coproduct_total = coproduct_res[tab + "_Sum"].sum()

overall_lci2

,Type,Category,Resource,End Use,Amount,Unit,Moisture,Previous Process,Always Use Displacement Method for Co-Product?,Product Train,Incumbent Resource,Incumbent End Use,Note,Process,LHV,Density
0,Input,Biomass,corn stover,,0.768391,kg,0.2,Preprocessing,No,Both,,,NaN,Fuel Production,17.114708,NaN
1,Main Product,Fuel,renewable diesel,light duty vehicle,1.000000,mmBTU,0.0,NaN,No,Both,diesel,industrial boiler,NaN,Fuel Production,43.400834,793.378565

In [6]:
calculate_lca(overall_lci2)[['Resource', 'Input Amount', 'Amount', 'Unit', 'Primary Unit']]

           Resource  Input Amount    Amount   Unit Primary Unit
0       corn stover      0.768391  0.000847    ton          ton
1  renewable diesel      1.000000  1.000000  mmBTU        mmBTU
0            diesel      1.000000  1.000000  mmBTU        mmBTU

In [7]:
co2_carbon = 12 / 44
co_carbon = 12 / 28
voc_carbon = 0.85

co2_gwp = 1
ch4_gwp = 30
n2o_gwp = 265

In [8]:
# def calculate_lca(df_lci, include_incumbent=True):
#     """
#     Calculate LCA results from LCI

#     Parameters:
#         df_lci: LCI table
#         include_incumbent: whether to include the incumbent resource in the result dataframe.
#     """

#     # df_lci["ID"] = df_lci["ID"].str.lower()
#     # res = pd.merge(df_lci, lookup_table, left_on="ID", right_index=True, how="left")
#     # res["Primary Unit"] = res["Primary Unit"].str.lower()

#     if include_incumbent:
#         # Separate out the incumbent resource that the main product is compared with
#         incumbent_resource = (
#             df_lci.loc[df_lci["Type"] == "Main Product", "Incumbent Resource"]
#             # .fillna("")
#             .values[0]
#         )
#         incumbent_end_use = (
#             df_lci.loc[df_lci["Type"] == "Main Product", "Incumbent End Use"]
#             # .fillna("")
#             .values[0]
#         )
#         incumbent_category = df_lci.loc[
#             df_lci["Type"] == "Main Product", "Category"
#         ].values[0]

#         main_product = df_lci.loc[df_lci["Type"] == "Main Product", "Resource"].values[
#             0
#         ]
#         df_lci["Pathway"] = main_product + " (Modeled)"

#         df_incumbent = pd.DataFrame(
#             {
#                 "Pathway": [incumbent_resource + " (Incumbent)"],
#                 "Type": ["Input"],
#                 "Category": [incumbent_category],
#                 "Resource": [incumbent_resource],
#                 "Process": [incumbent_resource + " (Incumbent)"],
#                 "End Use": [incumbent_end_use],
#                 "Amount": [1],
#                 "Unit": [primary_units[incumbent_category]],
#             }
#         )
#         df_lci = pd.concat([df_lci, df_incumbent])
df_lci = overall_lci

df_emission_factor = df_lci.apply(emission_factor, axis=1)
res = pd.concat([df_lci, df_emission_factor], axis=1)
# res["Primary Unit"] = res["Category"].map(primary_units).str.lower()
res["Primary Unit"] = res["Category"].map(primary_units)

# res["Unit"] = res["Unit"].str.lower()
res["Resource"] = res["Resource"].str.lower()

res["CO2 (w/ C in VOC & CO)"] = (
    res["CO2"]
    + res["CO"] * co_carbon / co2_carbon
    + res["VOC"] * voc_carbon / co2_carbon
)
res["GHG"] = (
    res["CO2 (w/ C in VOC & CO)"] * co2_gwp
    + res["Biogenic CO2"] * co2_gwp
    + res["CH4"] * ch4_gwp
    + res["N2O"] * n2o_gwp
)

# Do unit conversion before calculation
res = res.rename(columns={"Amount": "Input Amount"})
temp = res.copy()
res["Amount"] = res.apply(unit_conversion, axis=1)
temp2 = res.copy()
res["Unit"] = res["Primary Unit"]
temp3 = res.copy()
res["Amount"] = (
    res["Amount"] / res.loc[res["Type"] == "Main Product", "Amount"].sum()
)
# res = res[res["Type"] != "Main Product"]
main_product_category = res.loc[res["Type"] == "Main Product", "Category"].values[0]
calculation_unit = primary_units[main_product_category]
target_unit = display_units[main_product_category]

for metric in metrics:
    res[metric + "_Sum"] = res["Amount"] * res[metric]

if main_product_category in ["Fuel", "Electricity"]:
    for metric in metrics:
        res[metric + "_Sum"] = (
            res[metric + "_Sum"] / energy.loc[target_unit, calculation_unit]
        )  # Convert the functional unit from calculation unit to target unit
    # print(main_product_category)
    # return res

In [9]:
df_lci

,Type,Category,Resource,End Use,Amount,Unit,Moisture,Previous Process,Always Use Displacement Method for Co-Product?,Product Train,Incumbent Resource,Incumbent End Use,Note,Process,LHV,Density,Pathway
0,Input,Biomass,corn stover,,0.4,kg,0.2,Preprocessing,No,Both,,,NaN,Fuel Production,17.114708,NaN,renewable diesel (Modeled)
1,Main Product,Fuel,renewable diesel,light duty vehicle,1.0,kg,0.0,NaN,No,Both,diesel,industrial boiler,NaN,Fuel Production,43.400834,793.378565,renewable diesel (Modeled)

In [10]:
res[['Resource', 'Input Amount', 'Amount', 'Unit', 'Primary Unit']]

           Resource  Input Amount    Amount   Unit Primary Unit
0       corn stover           0.4  0.010719    ton          ton
1  renewable diesel           1.0  1.000000  mmBTU        mmBTU

In [11]:
temp3[['Resource', 'Input Amount', 'Amount', 'Unit', 'Primary Unit']]

           Resource  Input Amount    Amount   Unit Primary Unit
0       corn stover           0.4  0.000441    ton          ton
1  renewable diesel           1.0  0.041136  mmBTU        mmBTU

In [116]:
0.000441/0.038547

0.011440579033387813

In [114]:
temp3

,Type,Category,Resource,End Use,Input Amount,Unit,Moisture,Previous Process,Always Use Displacement Method for Co-Product?,Product Train,...,PM2.5,"Petroleum, Btu",SOx,"Total energy, Btu",VOC,Water consumption: gallons,Primary Unit,CO2 (w/ C in VOC & CO),GHG,Amount
0,Input,Biomass,corn stover,,0.4,ton,0.2,Preprocessing,No,Both,...,6.988316,66135.304478,58.328462,362403.007572,24.470884,59.889275,ton,22892.926773,2687.052565,0.000441
1,Main Product,Fuel,renewable diesel,light duty vehicle,1.0,mmBTU,0.0,NaN,No,Both,...,1.567383,0.000000,0.000000,0.000000,33.424434,0.000000,mmBTU,63460.451046,41.436049,0.038547

In [104]:
unit_conversion(temp.loc[1])

0.03854677892255507

In [109]:
mass_to_energy(temp.loc[1, 'Input Amount'], temp.loc[1, 'Unit'], temp.loc[1, 'LHV']) * energy.loc[temp.loc[1, 'Primary Unit'], "MJ"]

0.03854677892255507

In [ ]:
def unit_conversion(series):
    "Perform unit operation for each LCI data entry"
    input_unit = series["Unit"]
    amount = series["Input Amount"]
    density = series["Density"]
    lhv = series["LHV"]
    output_unit = series["Primary Unit"]

    if units[input_unit] != units[output_unit]:
        if (
            output_unit in volume_units
        ):  # Ouput is vlume, them input must be mass, because only water has output unit of volume. Modified from origin
            m3_amount = amount * mass.loc["kg", input_unit] / density
            return m3_amount * volume.loc[output_unit, "m3"]
        elif input_unit in volume_units:  # Input unit is volume
            kg_amount = volume_to_mass(amount, input_unit, density)  # Amount in kg
            if (
                output_unit in mass_units
            ):  # Input unit is volume and output unit is mass
                return kg_amount * mass.loc[output_unit, "kg"]
            else:  # Input unit is volume and output unit is energy
                return kg_amount * lhv * energy.loc[output_unit, "MJ"]
        elif output_unit in energy_units:  # output is energy and input is mass
            return (
                mass_to_energy(amount, input_unit, lhv) * energy.loc[output_unit, "MJ"]
            )
        else:  # output is mass and input is energy
            return energy_to_mass(amount, input_unit, lhv) * mass.loc[output_unit, "kg"]
    elif input_unit in mass_units:  # Both input and output are mass unit.
        return amount * mass.loc[output_unit, input_unit]
    elif input_unit in energy_units:  # Both input and output are energy unit.
        return amount * energy.loc[output_unit, input_unit]
    else:  # Both input and output are volume unit.
        return amount * volume.loc[output_unit, input_unit]

In [99]:
temp2[['Resource', 'Input Amount', 'Unit', 'Amount', 'Primary Unit']]

           Resource  Input Amount Unit    Amount Primary Unit
0       corn stover           0.4   kg  0.000441          ton
1  renewable diesel           1.0   kg  0.038547        mmBTU

In [51]:
temp[['Resource', 'Amount', 'Input Amount', 'Unit', 'Primary Unit', "GHG", "GHG_Sum"]]

,Resource,Amount,Input Amount,Unit,Primary Unit,GHG,GHG_Sum
0,corn stover,0.011439,0.4,ton,ton,2687.052565,0.029132
1,renewable diesel,1.000000,1.0,mmBTU,mmBTU,41.436049,0.039274
0,diesel,25.942505,1.0,mmBTU,mmBTU,94636.902577,2327.003169

In [117]:
res[['Resource', 'Amount', 'Input Amount', 'Unit', 'Primary Unit', "GHG", "GHG_Sum"]]

,Resource,Amount,Input Amount,Unit,Primary Unit,GHG,GHG_Sum
0,corn stover,0.011439,0.4,ton,ton,2687.052565,0.029132
1,renewable diesel,1.000000,1.0,mmBTU,mmBTU,41.436049,0.039274

In [25]:
temp.loc[0, 'CO2']*temp.loc[0, 'Amount']

0     0.010037
0    12.944332
dtype: float64

In [26]:
temp.loc[0, 'CO2']

0    22763.019076
0    12944.332260
Name: CO2, dtype: float64

In [18]:
biomass_main = res_new.loc[~(res_new['Pathway'].str.contains("Incumbent"))&(res_new['Type'].str.contains('Input'))&(res_new['Category']=='Biomass'), 'Amount'].sum()
biomass_coproduct = coproduct_res.loc[~(coproduct_res['Pathway'].str.contains("Incumbent"))&(coproduct_res['Type'].str.contains('Input'))&(coproduct_res['Category']=='Biomass'), 'Amount'].sum()

In [22]:
df = format_input(lci_mapping['Fuel Production'])
ratio = calculate_allocation_ratio(df, "mass")

In [24]:
ratio

0.079418132828804

In [27]:
main_conversion = 1
coproduct_conversion = 1

if overall_lci.loc[overall_lci['Type']=='Main Product', 'Category'].values[0] in ['Electricity', 'Fuel']:
    main_conversion = energy.loc['MJ', 'mmBTU']

if coproduct_lci.loc[coproduct_lci['Type']=='Main Product', 'Category'].values[0] in ['Electricity', 'Fuel']:
    coproduct_conversion = energy.loc['MJ', 'mmBTU']

In [28]:
main_conversion

1055.05585

In [29]:
coproduct_conversion

1055.05585

In [30]:
biorefinery_res = main_product_total * main_conversion / biomass_main * ratio + coproduct_total * coproduct_conversion / biomass_coproduct * (1 - ratio)

In [31]:
biorefinery_res

2348855.248664811

In [32]:
energy

,J,kJ,MJ,Wh,kWh,BTU,mmBTU,hph
Energy,,,,,,,,
J,1.000000e+00,1.000000e+03,1000000.000000,3600.000000,3.600000e+06,1055.055850,1.055056e+09,2.684520e+06
kJ,1.000000e-03,1.000000e+00,1000.000000,3.600000,3.600000e+03,1.055056,1.055056e+06,2.684520e+03
MJ,1.000000e-06,1.000000e-03,1.000000,0.003600,3.600000e+00,0.001055,1.055056e+03,2.684520e+00
Wh,2.777778e-04,2.777778e-01,277.777778,1.000000,1.000000e+03,0.293071,2.930711e+05,7.456999e+02
kWh,2.777778e-07,2.777778e-04,0.277778,0.001000,1.000000e+00,0.000293,2.930711e+02,7.456999e-01
BTU,9.478171e-04,9.478171e-01,947.817123,3.412142,3.412142e+03,1.000000,1.000000e+06,2.544434e+03
mmBTU,9.478171e-10,9.478171e-07,0.000948,0.000003,3.412142e-03,0.000001,1.000000e+00,2.544434e-03
hph,3.725061e-07,3.725061e-04,0.372506,0.001341,1.341022e+00,0.000393,3.930148e+02,1.000000e+00